html {
  font-size: calc(0.2rem + 1vw);
}
﻿body {
  position:relative;
  height: auto;
  width: auto;
  text-align:left;
  overflow: auto;
}

.textdisplay {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color:black;
  text-align:center;
}

.heading_1 {
  font-weight: bolder;
  font-size:2rem;
  text-align:left;
}


#base {
  position:absolute;
  z-index:0;
}

/* mit dem Overflow bekommt man die Liste angezeigt über den Parent*/
#statusleiste {
  position:relative;
  width:auto;
  height:4rem;
  border-width:0.1rem;
  border-style:solid;
  border-color:red;
  overflow: auto;
}

#willkommen {
  border-style: solid;
  border-width:0.1rem;
  border-color: green;


  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  float: left;

  display: inline-block;
}


#logo {
  border-style: solid;
  border-width:0.1rem;
  border-color: green;

  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;

  width: 4rem;
  height: 3rem;
}


/* für die anderen Elemente in der Mitte */
.dropdown {
  border-style: solid;
  border-width: 0.1rem;
  border-color: green;

  margin-left: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;


  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  float: left;

  display: inline-block;

  font-size: 0;

  background-color: lightgreen;

}

.dropdown-content {
  display: inline-block;
  position: relative;

  background-color: lightgreen;
}
/* kleiner Trick mit der FOnt Size um die komische Sache wegzunekommen */
.dropdown-content a {
  font-size: calc(0.2rem + 1vw);

  text-decoration: none;

  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: inline-block;

  transition: background-color 0.5s;
}

/* wenn man drüber hovered */
.dropdown-content a:hover {background-color: green;}


/* Das Erste Element wird trotzdem angezeigt mit first child*/
@media screen and (max-width: 40rem) {
  #statusleiste{
    overflow: visible;
  }
  .dropdown-content a:not(:first-child){
    display: none;
    color: black;
  }
  .dropdown{
    z-index: 1;
  }
  .dropdown-content{
    z-index: 1;
  }
  .dropdown-content a{
    float: left;
    clear: both;
  }
  .dropdown:hover .dropdown-content a {display: inline-block;}
}


/* noch andere Sachen für die Elemente in der Mitte*/



/* Die Rows und Columns für den Rest */
/* Create three equal columns that floats next to each other */
#tabellen{
  margin-top: 3rem;
  position:relative;
  width:auto;
  height: auto;
  border-width:0.1rem;
  border-style:solid;
  border-color:red;
  overflow: auto;

}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  background-color: white;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.table {
  background-color: #668cff;
  margin: auto;
  border: 0.1rem solid red;
  padding: 0.5rem;
}

td, th {
  border: 0.1rem solid green;
  text-align: left;
  padding: 1rem 2rem 1rem 2rem; /* t r b l*/
}

tr:nth-child(even) {
  background-color: #ccd9ff;
}
tr:nth-child(odd) {
  background-color: #0040ff;
}

#knoepfe_id{
  margin-top: 3rem;
  position:relative;
  width:auto;
  height: auto;
  border-width:0.1rem;
  border-style:solid;
  border-color:red;
  overflow: auto;
}

.knoepfe {
  background-color: #668cff;
  margin: auto;
  border: 0.1rem solid red;
  padding: 0.5rem;
  width: 50%;
  height: 50%;
  padding: 0.1rem;

}
/* Create three equal columns that floats next to each other */
.columnk {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Clear floats after the columns */
.rowk:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .columnk{
    width: 100%;
  }
}



.knoepfe_innen {
  background-color: #668cff;
  margin: auto;
  border: 0.1rem solid red;
  padding: 0.5rem;
  width: 50%;
  height: 50%;
  padding: 0.1rem;

}


.listenverarbeitung{
  float: left;
  display: inline-block;
}

.datenverarbeitung{
  float: right;
  display: inline-block;
}
