{% extends "aut/000_base_bar.html" %}

{% block titel %}
<title>A&T TestCase</title>
{% endblock %}

{% block morecss %}
<link href="/static/aut/010_dashstyle.css" type="text/css" rel="stylesheet"/>
<link href="/static/aut/010_testcase_style.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<!-- Hier kommen die Tables rein -->

<div id="tabellen">
    <ul id="testcaselist">
    <li> <a href="{% url 'aut:testcase_create' %}" target="ifrm" > Neuer TestCase</a>  </li>
    {% for testcase in testcases %}
      <li> <a href="{{ testcase.get_absolute_url }}" target="ifrm"> {{ testcase }}</a>  </li>
    {% endfor %}

</ul>

    <iframe id="ifrm" name="ifrm">
        Your browser doesn't support iframes.
    </iframe>
</div>

<script type="text/javascript">
        document.getElementById('ifrm').onload = function() {
           $("#testcaselist").load(location.href + " #testcaselist li");
        }
</script>

{% endblock %}


