{% extends "aut/000_base_bar.html" %}



{% block titel %}
<title>A&T Dashboard</title>
{% endblock %}

{% block morecss %}
<link href="/static/aut/010_dashstyle.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<!-- Hier kommen die Tables rein -->


    <div id="tabellen">
    <div class="row">
      <div class="column">
        <table class="table textdisplay">
          <tr>
            <td>Requirements</td>
            <td>{{num_req}}</td>
          </tr>
          <tr>
            <td>Eigene Requirements</td>
            <td>{{num_req_eigene}}</td>
          </tr>
          <tr>
            <td>Requirements mit TestCase</td>
            <td>{{num_yes_testcase}}</td>
          </tr>
          <tr>
            <td>Requirements ohne TestCase</td>
            <td>{{num_no_testcase}}</td>
          </tr>

        </table>
        <button type="button" name="button" class="knoepfe_innen textdisplay"> Requirements </button>
      </div>
      <div class="column">
        <table class="table textdisplay">
          <tr>
            <td>TestCases</td>
            <td>{{ num_testc }}</td>
          </tr>
          <tr>
            <td>Eigene TestCases</td>
            <td>{{ num_testc_eigene }}</td>
          </tr>
          <tr>
            <td>TestCases ohne TestRun</td>
            <td>{{num_lis_no_testrun_or_no_run  }}</td>
          </tr>
          <tr>
            <td>TestCases ohne erfolgreichen TestRun</td>
            <td>{{  num_lis_yes_testrun_run_failed}}</td>
          </tr>
          <tr>
            <td>TestCases mit erfolgreichem TestRun</td>
            <td>{{ num_lis_yes_testrun_run_passed }}</td>
          </tr>


        </table>
        <button type="button" name="button" class="knoepfe_innen textdisplay"> TestCases </button>
      </div>
      <div class="column">
        <table class="table textdisplay">
          <tr>
            <td>TestRuns</td>
            <td>{{ num_testr }}</td>
          </tr>
          <tr>
            <td>TestRuns ohne Run</td>
            <td>{{ num_lis_no_testrun }}</td>
          </tr>
          <tr>
            <td>Failed TestRuns</td>
            <td>{{ num_lis_failed_testrun }}</td>
          </tr>
          <tr>
            <td>Passed TestRuns</td>
            <td>{{ num_lis_passed_testrun }}</td>
          </tr>

        </table>
        <button type="button" name="button" class="knoepfe_innen textdisplay"> <a href="#">TestRun</a></button>
      </div>
    </div>
  </div>

  <div id="knoepfe_id">
    <div class="rowk">
      <div class="columnk">
        <button type="button" name="button" class="knoepfe textdisplay"> Projekt </button>
      </div>
      <div class="columnk">
        <button type="button" name="button" class="knoepfe textdisplay"> Statistik </button>
      </div>
      <div class="columnk">
        <button type="button" name="button" class="knoepfe textdisplay"> Abmelden </button>
      </div>
    </div>
  </div>
            {% if user.is_authenticated %}
            {%  if user.user_erweitern.rolle == 'p' %}
<form action="" id="searchForm" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>

  <input type="submit" value="submit">
</form>
        {% endif %}
            {% endif %}
<div>
<p>Gruppe: {{user_gruppennummer}} Gruppenmitglieder:

      {% for user in all_users %}
      {{user}}
    {% endfor %}
  </p>
</div>

{% endblock %}