<!DOCTYPE html>
<html>
  <head>
    <title>Projekt</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
     {% load static %}
    <link href="/static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/staticdata/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/files/projekt/styles.css" type="text/css" rel="stylesheet"/>

  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u368" class="ax_default box_1">
        <div id="u368_div" class=""></div>
        <div id="u368_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u369" class="ax_default box_1">
        <div id="u369_div" class=""></div>
        <div id="u369_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u370" class="ax_default heading_1">
        <div id="u370_div" class=""></div>
        <div id="u370_text" class="text ">
          <p><span>Projekt</span></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u371" class="ax_default">
        <img id="u371_menu" class="img " src="/static/images/requirement/u98_menu.png" alt="u371_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u372" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u373" class="ax_default menu_item">
            <img id="u373_img" class="img " src="/static/images/requirement/u100.png"/>
            <div id="u373_text" class="text ">
              <p><span>Dashboard</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u374" class="ax_default menu_item">
            <img id="u374_img" class="img " src="/static/images/requirement/u100.png"/>
            <div id="u374_text" class="text ">
              <p><span>Requirements</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u375" class="ax_default menu_item">
            <img id="u375_img" class="img " src="/static/images/requirement/u100.png"/>
            <div id="u375_text" class="text ">
              <p><span>TestCases</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u376" class="ax_default menu_item">
            <img id="u376_img" class="img " src="/static/images/requirement/u100.png"/>
            <div id="u376_text" class="text ">
              <p><span>TestRuns</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u377" class="ax_default menu_item">
            <img id="u377_img" class="img " src="/static/images/requirement/u100.png"/>
            <div id="u377_text" class="text ">
              <p><span>TestRun durchführen</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u378" class="ax_default menu_item">
            <img id="u378_img" class="img " src="/static/images/requirement/u101.png"/>
            <div id="u378_text" class="text ">
              <p><span>Projekt</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u379" class="ax_default menu_item">
            <img id="u379_img" class="img " src="/static/images/requirement/u106.png"/>
            <div id="u379_text" class="text ">
              <p><span>Statiistiken</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u380" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u381" class="ax_default table_cell">
          <img id="u381_img" class="img " src="/static/images/projekt/u381.png"/>
          <div id="u381_text" class="text ">
            <p><span>KEY</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u382" class="ax_default table_cell">
          <img id="u382_img" class="img " src="/static/images/projekt/u382.png"/>
          <div id="u382_text" class="text ">
            <p><span>VALUE</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u383" class="ax_default table_cell">
          <img id="u383_img" class="img " src="/static/images/projekt/u381.png"/>
          <div id="u383_text" class="text ">
            <p><span>Projektname</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u384" class="ax_default table_cell">
          <img id="u384_img" class="img " src="/static/images/projekt/u382.png"/>
          <div id="u384_text" class="text ">
            <p><span>Packstation</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u385" class="ax_default table_cell">
          <img id="u385_img" class="img " src="/static/images/projekt/u381.png"/>
          <div id="u385_text" class="text ">
            <p><span>Abgabedatum</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u386" class="ax_default table_cell">
          <img id="u386_img" class="img " src="/static/images/projekt/u382.png"/>
          <div id="u386_text" class="text ">
            <p><span>01.01.2021</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u387" class="ax_default table_cell">
          <img id="u387_img" class="img " src="/static/images/projekt/u381.png"/>
          <div id="u387_text" class="text ">
            <p><span>Gruppenmitglieder</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u388" class="ax_default table_cell">
          <img id="u388_img" class="img " src="/static/images/projekt/u382.png"/>
          <div id="u388_text" class="text ">
            <p><span>Name1, Name2, Name3</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u389" class="ax_default table_cell">
          <img id="u389_img" class="img " src="/static/images/projekt/u389.png"/>
          <div id="u389_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u390" class="ax_default table_cell">
          <img id="u390_img" class="img " src="/static/images/projekt/u390.png"/>
          <div id="u390_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u391" class="ax_default image">
        <img id="u391_img" class="img " src="/static/images/dashboard/u7.png"/>
        <div id="u391_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="/static/resources/scripts/axure/ios.js"></script>
  </body>
</html>
