<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestRun</title>
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>


</head>
<style type="text/css">
html {
  font-size: calc(0.2rem + 1vw);
}
table, th, td {
  border: 1px solid black;
}
th{
  width: 25rem;
}

</style>
<body>
    <h1>{{ testr_instance }}</h1>

    <label id="hours">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label>

       <iframe frameborder="0" scrolling="no" onload="resizeIframe(this)" style="width:100%; height:100%;" id="ifrm" name="ifrm" src="{% url 'aut:schritte_run' id=testr_instance.testr_fk_testcaseid_id  %}  ">
        Your browser doesn't support iframes.
    </iframe>
    <a id="testr" href=" {% url 'aut:view_testrun' %} "><button>TestRun abschließen</button> </a>

        <script>
var hoursLabel = document.getElementById("hours");
var minutesLabel = document.getElementById("minutes");
var secondsLabel = document.getElementById("seconds");
var totalSeconds = 0;
setInterval(setTime, 1000);

function setTime() {
  ++totalSeconds;
  secondsLabel.innerHTML = pad(totalSeconds % 60);
  minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
  hoursLabel.innerHTML = pad(parseInt(totalSeconds /  3600));
}

function pad(val) {
  var valString = val + "";
  if (valString.length < 2) {
    return "0" + valString;
  } else {
    return valString;
  }
}

function myFunction(){
document.getElementById('timeinput').value = totalSeconds;
}

</script>

<form action="{% url 'aut:testrun_run' pk=testr_instance.testr_pk_testrunid  %}" method="post">
  {% csrf_token %}
    <input id="timeinput" name="TIME" type="hidden" value=totalSeconds >
  <td><input type="submit" value="TestRun Abschließen" onclick="myFunction()"></td>
</form>


</body>
</html>