<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Requirements Detail</title>
    <link href="/static/aut/000_basebar.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.5.1.js">
    </script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/aut/images/favicon.ico">
</head>
<body>


  <h1>Requirement Detail</h1>

<!-- Hier dann die Sachen die man nicht ändern kann -->
    <p>{{ requ_instance }}</p>
    <p>Erstellung: {{ requ_instance.req_datum_erstellung }}</p>
    <p>Änderung: {{ requ_instance.req_datum_aenderung }}</p>




  </div>

<!-- Hier dann die Form sachen die man ändern kann-->

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit">

</form>



</body>
</html>