{% extends "aut/000_base_bar.html" %}

{% block titel %}
<title>Requirements Liste</title>
{% endblock %}

{% block morecss %}
<link href="/static/aut/dashstyle.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h1>Requirement List</h1>
  {% if requirement_list %}
  <ul>
    {% for requirement in requirement_list %}
      <li>
        <a href="{{ requirement.get_absolute_url }}"> {{ requirement }}</a>  Kategorie: {{ requirement.Kategorie }} ElementID_FK ({{requirement.ElementID_FK}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Requirements in the Database.</p>
  {% endif %}

{% endblock %}