html {
  font-size: calc(0.2rem + 1vw);
}
body {
  position:relative;
  height: auto;
  width: auto;
  text-align:left;
  overflow: auto;
}

.textdisplay {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color:black;
  text-align:center;
}

.heading_1 {
  font-weight: bolder;
  font-size:2rem;
  text-align:left;
}


/* mit dem Overflow bekommt man die Liste angezeigt über den Parent*/
#statusleiste {
  position:relative;
  width:auto;
  height:4rem;
  border-width:0.1rem;
  border-style:solid;
  border-color:red;
  overflow: auto;
}

#willkommen {
  border-style: solid;
  border-width:0.1rem;
  border-color: green;


  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  float: left;

  display: inline-block;
}


#logo {
  border-style: solid;
  border-width:0.1rem;
  border-color: green;

  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;

  width: 4rem;
  height: 3rem;
}

