html {
  font-size: calc(0.2rem + 1vw);
}
body {
  position:relative;
  height: auto;
  width: auto;
  text-align:left;

}

.textdisplay {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color:black;
  text-align:center;
}

.heading_1 {
  font-weight: bolder;
  font-size:2rem;
  text-align:left;
}


/* mit dem Overflow bekommt man die Liste angezeigt über den Parent*/
#statusleiste {
  position:relative;
  width:auto;
  height:4rem;
  border-width:0.1rem;
  border-style:solid;
  border-color:red;
  z-index: 10;

}

#willkommen {
  border-style: solid;
  border-width:0.1rem;
  border-color: green;


  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  float: left;

  display: inline-block;
}


#logo {
  border-style: solid;
  border-width:0.1rem;
  border-color: green;

  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;

  width: 4rem;
  height: 3rem;
}


/* für die anderen Elemente in der Mitte */
.dropdown {
  border-style: solid;
  border-width: 0.1rem;
  border-color: green;

  margin-left: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;


  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  display: inline-block;

  font-size: 0;

  background-color: lightgreen;


}

.dropdown-content {

  position: relative;
  display: inline-block;

  background-color: lightgreen;

}
/* kleiner Trick mit der FOnt Size um die komische Sache wegzunekommen */
.dropdown-content a {
  font-size: calc(0.2rem + 1vw);

  text-decoration: none;

  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: inline-block;

  transition: background-color 0.5s;

}

/* wenn man drüber hovered */
.dropdown-content a:hover {
    background-color: green;
}


/* Das Erste Element wird trotzdem angezeigt mit first child*/
@media screen and (max-width: 40rem) {

  .dropdown-content a:not(:first-child){
    display: none;
  }

  .dropdown-content a{

  clear: both;
  float: left;

  }
     .dropdown{
    position: absolute;
    height: auto;
    width:auto;
  border-style: none;
  border-width: 0;
  border-color: none;
  }
   .dropdown-content{
    position: absolute;
    top: -1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: green;
  }

  .dropdown:hover .dropdown-content a {
  display: inline-block;
  float: left;}
}

