#tabellen{
  margin-top: 3rem;
  position:relative;
  width:auto;
  height: auto;
  border-width:0.1rem;
  border-style:solid;
  border-color:red;
  overflow: auto;

}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  background-color: white;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul{
  list-style:none;
  max-height:50rem;
  overflow:auto;
  padding:0;
  margin:0;
  max-width:20rem;
}
li{
  line-height:2rem;
}

#ifrm{
  zoom: 2;
  transform: scale(2);
  transform-origin: 0 0;
}
