<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block titel %} <title>Anforderungen und Testen</title> {% endblock %}

    {% load static %}
    <link href="/static/aut/000_base_css_bar.css" type="text/css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/aut/images/favicon.ico">
</head>

<style>
    #loginscreen{
    text-align: center;
    }
</style>
<body>

<div id="loginscreen">
    <img id="logo" src="/static/aut/images/logo.png"/>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" style="width: max-content; margin: auto;">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

</body>
</html>