<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block titel %} <title>Passwort Reset</title> {% endblock %}

    {% load static %}
    <link href="/static/aut/000_base_css_bar.css" type="text/css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/aut/images/favicon.ico">
</head>
<body>

  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

</body>
</html>